<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_ficha.css' %}">
    <title>Formulário para registro de cães</title>
  </head>
  <body>
    <div class="form">
    <h1>Formulário para registro de cães</h1>
      <form action='{% url "ficha:ficha" %}' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class ="butao" type="submit" value="Salvar">
      </form>
    </div>
  </body>
</html>
