<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_listapet.css' %}">
    <title>Reserva Day Care</title>
  </head>
  <body>
    <table class="form">
        <thead class="legenda">
          <tr class="tr">
            <th>Nome do Animal</th>
            <th>Raça</th>
            <th>Nome do Tutor</th>
          </tr>
        </thead>
        <br>
        <h1 class='title'>Lista dos cachorros</h1>
        
            {% for cachorro in cachorros %}
            <td class="num">{{ cachorro.nome }} 
            <td >{{ cachorro.raca }} 
            <td>{{ cachorro.nome_tutor}}
            {% endfor %}
        
    </table>
  </body>
</html>