<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_listapett.css' %}">
    <title>Lista de Cães</title>
  </head>
  <body>
    <table class="form">
        <thead class="legenda">
          <tr>
            <th>Nome do Animal</th>
            <th>Raça</th>
            <th>Nome do Tutor</th>
          </tr>
        </thead>
        <tbody>
            <h1 class='title'>Cães cadastrados</h1>
            {% for cachorro in cachorros %}
            <tr>
                <td class="num">{{ cachorro.nome }}</td>
                <td>{{ cachorro.raca }}</td>
                <td>{{ cachorro.nome_tutor }}</td>
            </tr>
            {% endfor %}
        </tbody>    
    </table>
  </body>
</html>
