<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_caixa.css' %}">
    <title>Caixa</title>
  </head>
  <body>
    <div class="form">
      <h1>Caixa</h1>
      <tr>
        <td class='num'><a href="#">{{ reserva.num_reserva }}</a></td>
        <td class='nome'>{{ reserva.pet.nome}}</td>
      </tr>
      <form method="post">
        {% csrf_token %}
        <label>Número da reserva:</label>
        <input type="text" name="num_reserva" value="{{ reserva.num_reserva }}" readonly><br>
    
        <label>Nome do animal:</label>
        <input type="text" name="nome_animal" value="{{ reserva.pet.nome }}" readonly><br>
    
        <label>Usuário:</label>
        <input type="text" name="usuario" value="{{ usuario }}" readonly><br>
        <tr>
          <td>{{ reserva.pk }}</td>
          <td>{{ reserva.pet.nome }}</td>
          <td>{{ reserva.inicio|date:"d/m/Y" }}</td>
          <td>{{ reserva.fim|date:"d/m/Y" }}</td>
          <td>{{ reserva.total }}</td>
          <td>
            {% if reserva.pago %}
              <span class="badge badge-success">Pago</span>
            {% else %}
              <span class="badge badge-danger">Pendente</span>
              <a href="{% url 'caixa:caixa' num_reserva=reserva.pk %}" class="btn btn-primary">Fechar</a>
            {% endif %}
          </td>
        </tr>
        
    
        <!-- ... -->
    </form>
  
        <input type="hidden" id="usuario" name="usuario" value="{{ usuario }}">
        <div class="alinha">
          <input class="butao" type="submit" value="Salvar">
          <a href="{% url 'ficha:ficha' %}">Novo Pet</a>
          <a href="{% url 'reservaday' %}">Reserva Day Care</a>
        </div>
        
      
    
    </div>
    
  </body>
</html>
