<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_caixa2.css' %}">
    <title>Caixa</title>
  </head>
  <body>
    <div class="form">
      <h1>Caixa</h1>
      <tr>
        <td class='num'><a href="#">{{ reserva.num_reserva }}</a></td>
        <td class='nome'>{{ reserva.pet.nome}}</td><br>
        <td class='nome'>{{ usuario}}</td>
      </tr>
      <form action="caixa" method="post">
        {% csrf_token %}
        <label>Relatório:</label>
        <textarea class='relatorio' type="text" name="relatorio_estadia"></textarea>
    
        <label>Desconto:</label>
        <input type="number" name="desconto"><br>
    
        
        <input class="butao" type="submit" value="Pago">
        <!-- ... -->
    </form>


        <h1>Serviços adicionais</h1>
        <h2>Reserva #{{ reserva.pk }}</h2>
      <tr>
        <td class='num'>{{ reserva1.nome_servico }}</td>
        <td class='nome'>{{ reserva1.valor_servico}}</td><br>
        <td class='nome'>{{ reserva1.valor}}</td>
      </tr>
      

  
        <div class="alinha">
          
          <a href="{% url 'ficha:ficha' %}">Novo Pet</a>
          <a href="{% url 'reservaday' %}">Reserva Day Care</a>
        </div>
        
      
    
    </div>
    
  </body>
</html>
