<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_lista_reserva.css' %}">
    <title>Reserva Day Care</title>
  </head>
  <body>
    <table class="form">
        <thead class="legenda">
          <tr class="tr">
            <th>Número da Reserva</th>
            <th>Nome do Animal</th>
            <th>Data de Entrada</th>
            <th>Hora de Entrada</th>
          </tr>
        </thead>
        <br>
        <tbody>
          {% for reserva in reservas %}
          <tr>
            <td class='num'><a href="#">{{ reserva.num_reserva }}</td>
            <td class='nome'>{{ reserva.pet.nome}}</td>
            <td class='data'>{{ reserva.data_entrada |date:"d/m/Y"}}</td>
            <td class='entrada'>{{ reserva.hora_entrada }}</td>

          </tr>
          {% endfor %}
        </tbody>
    </table>
  </body>
</html>