<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.novareserva.css' %}">
    <title>Reserva Hotel</title>
  </head>
  <body>
    <div class="form">
      <h1>Hotel</h1>
      {% extends 'home.html' %}

      {% block content %}
      <h1>Nova Reserva</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <h2>Serviços Adicionais</h
          <input class="butao" type="submit" value="Salvar">
        </div>
      </form>
    </div>
    
  </body>
</html>
